<div class="container-full" *ngIf="thispage != null">
    <header class="row">

        <nav class="col-md-12">
            <div class="nav nav-brand nav-header">
                <h1>{{thispage.naam}}: Edit mods</h1>
            </div>
            <div>
                <p>By: {{owner.username}}</p>
            </div>
        </nav>
    </header>
    <div class="col-xs-10">
        <div class="row">
            <div >
                <table class="table">
                    <tr>
                        <th>
                            User Name
                        </th>

                    </tr>
                    <tr *ngFor="let mod of mods">
                        <td>
                            <a [routerLink]="['/profile/', mod.id]">
                                {{mod.username}}
                            </a>
                        </td>
                        <td>
                            <button class="btn" *ngIf="!isOwner(mod)" (click)="removeMod(mod)">Remove from modlist</button>
                            <p *ngIf="isOwner(mod)">{{mod.username}} is the owner of {{thispage.naam}}, cannot be removed</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div>
            <form [formGroup]="myForm">
                <input id="username" class="form-control" formControlName="username" placeholder="Search pages..." (input)="setUsers()" autocomplete="off"/>
            </form>
        </div>
        <table class="col-xs-12 table table-striped" >
            <tr *ngFor="let user1 of users">
                <td>
                    <a [routerLink]="['/profile', user1.id]">{{user1.username}}</a>

                </td>
                <td>
                    <button class="btn" *ngIf="!isOwner(user1) && !isMod(user1)" (click)="makeMod(user1)">Make Mod</button>
                    <p *ngIf="isOwner(user1)">owner
                    <p *ngIf="isMod(user1) && !isOwner(user1)">Mod</p>
                </td>
            </tr>
        </table>
    </div>
</div>