    <div class="col-xs-12 col-sm-12 col-md-9 col-sm-push-3">
        <div class="row">
            <app-postList [posts]="posts"></app-postList>
        </div>
        <div class="row">
            <form>
                <input class="form-controlcol-xs-4" min="1" max="{{maxpages}}" type="number"
                       placeholder="Page" value="{{page}}" required>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-sm-pull-9">
        <app-subsciption [pages]="pages"></app-subsciption>
    </div>
