<div class="col-md-4 col-md-offset-4">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Paswoord</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <div>
            <p>{{error}}</p>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
    <div>
        <p>No account yet? <a [routerLink]="['/signup']">Signup</a></p>
    </div>
</div>