.btn{
    font-size: 1em;
    border:none;
}
.btn:hover{
    background-color: #FFFFFF;
    border: none;
}
.upvoted{
    color: #005d5f;
}
.upvoted:hover{
    color: #222222;
}
.unUpvoted{
    color: #222222;
}
.unUpvoted:hover{
    color: #005d5f;

}

.button{
    border: none;
    background-color: inherit;
    color: #005d5f;
}
.button:hover{
    text-decoration: underline;
    color: darkcyan;
}
a{
    color: #005d5f;
}
a:hover{
    color: darkcyan;
}
.comment {
    border: #005d5f solid 1px;
    padding: 1px;
}
.number{
    margin:auto;
}