
<div *ngIf="comment" class="comment">
    <div class="row">
        <div class="col-xs-1 number">
            {{comment.likes.length}}
            <button *ngIf="comment.likes.indexOf(authService.user.id) != -1 && authService.isLoggedIn()" type="button"
                    class="upvoted btn btn-default" (click)="upvote()">
            <span class="glyphicon glyphicon-arrow-up sm"
                  aria-hidden="true"></span>
            </button>
            <button *ngIf="comment.likes.indexOf(authService.user.id) == -1 && authService.isLoggedIn()" type="button"
                    class="unUpvoted btn btn-default" (click)="upvote()">
            <span class="glyphicon glyphicon-arrow-up sm"
                  aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-11">
            <div>
                <a [routerLink]="['/profile/', comment.user]">
                    {{ userName }}
                </a>
            </div>
            <div>
                {{comment.body}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <button class="button" (click)="onReply()">
                Reply
            </button>
        </div>
        <div class="col-xs-2" *ngIf="comment.user === authService.user.id">&nbsp;|
            <button *ngIf="comment.user == authService.user.id || authService.isAdmin()" class="button btn btn-default" (click)="onDelete(comment.id)">
                Delete
            </button> |
            <button *ngIf="comment.user == authService.user.id || authService.isAdmin()" class="button btn btn-default" (click)="onEdit()">
                Edit
            </button>
        </div>
    </div>
    <app-MakeComment [show]="showReply" [topcomment]="false" [post]="post" [comment]="comment" [Edit]="edit"></app-MakeComment>
    <div *ngFor="let comment of childComments">
        <app-comment [comment]="comment" [post]="post"  [comments]="comments" [topcomment]="true" ></app-comment>
    </div>
</div>