<div class="row" *ngIf="show">
    <div class="col-md-6">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="comment">{{getHeaderText()}}</label>
                <textarea maxlength="140" rows="2" id="comment" class="form-control" formControlName="comment" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">{{getButtonText()}}</button>
            <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>