<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">PostSite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li uib-dropdown on-toggle="toggled(open)" class="nav-item">
                    <a href="#" id="simple-dropdown" class="nav-link" uib-dropdown-toggle>Link 3 <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a href="#">SubItem 1</a></li>
                        <li><a href="#">SubItem 2</a></li>
                        <li><a href="#">SubItem 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">SubItem 4</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="!isLoggedin">
                    <a class="nav-link" [routerLink]="['/signin']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user', authService.user.id]">{{naam}}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <a class="nav-link" (click)="onLogout()">Logout</a>
                </li>

            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Page">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" *ngIf="isLoggedin" [routerLink]="['/makepage']">Make Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
