<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">PostSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li *ngIf="" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!isLoggedin">
          <a class="nav-link" [routerLink]="['/signin']" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user', authService.user.id]" >{{naam}}</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedin">
          <a class="nav-link"  (click)="onLogout()" >Logout</a>
        </li>
        <li>
          <a class="nav-link" *ngIf="isLoggedin" [routerLink]="['/MakePage']" >Make Page</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
