<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PostSite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <a class="nav-link" data-toggle="modal" data-target="#popup">Subscriptions<span
                            class="caret"></span></a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedin">
                    <a class="nav-link" [routerLink]="['/signin']">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <a class="nav-link" [routerLink]="['/profile', user.id]">{{user.username}}</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <a class="nav-link" (click)="onLogout()">Logout</a>
                </li>
                <li>
                    <a class="nav-link" *ngIf="isLoggedin" [routerLink]="['/makepage']">Make Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#namePopup">Search User<span
                            class="caret"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/search']">Search Post</a>
                </li>
            </ul>
        </div>
</nav>

<div id="popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Your Subscriptions:</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div *ngIf="subscribed.length == 0" class="row">
                        <label class="col-xs-12">You don't have any subscriptions yet!</label>
                    </div>
                    <div *ngFor="let sub of subscribed" class="row">
                        <a class="col-cs-12" [routerLink]="['/p', sub.id]">{{sub.naam}}</a>
                        <button class="col-xs-6" *ngIf="isOwner(sub.id)" (click)="unsubscribe()">Unsubscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="namePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search User:</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div>
                        <div>
                            <form [formGroup]="myForm">
                                <input id="username" class="form-control" formControlName="username" placeholder="Search pages..." (input)="setUsers()" autocomplete="off"/>
                            </form>
                        </div>
                        <table class="col-xs-12 table table-striped" >
                            <tr *ngFor="let user1 of users">
                                <td>
                                    <a [routerLink]="['/profile', user1.id]">{{user1.username}}</a>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
