<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <input type="text" [(ngModel)]="post.url">
            <article class="panel panel-default">
                <div class="panel-heading"><h2>{{post.title}}</h2></div>
                <div class="panel-body"><img class="img-responsive center-block" src="{{ post.url }}"></div>
                <footer class="panel-footer">
                    <div class="author">{{ post.author }}</div>
                    <div class="config"><a href="#">Edit</a> <a href="#">Delete</a></div>
                </footer>
            </article>
        </div>
    </div>
</div>
