<div class="container-full">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <input id="search" class="form-control" formControlName="search" placeholder="Search posts..." autocomplete="off"/>
            <button type="submit" content="Search" class="btn btn-primary">Search</button>
        </form>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <app-postList [posts]="posts"></app-postList>
        </div>
        <div class="row">
            <form>
                <input class="form-controlcol-xs-4" min="1" max="{{maxpages}}" type="number"
                       placeholder="Page" value="{{pagina}}" required>
            </form>
        </div>
    </div>
</div>